<input type="checkbox" class="input input--round-toggle" id="round-toggle"><label for="round-toggle"></label>

<input type="checkbox" class="input input--round-toggle" id="round-toggle2" checked><label for="round-toggle2"></label>