<input type="checkbox" class="input input--squared-toggle" id="squared-toggle"><label for="squared-toggle"></label>

<input type="checkbox" class="input input--squared-toggle" id="squared-toggle1" checked><label for="squared-toggle1"></label>