<input class="input input--radio" type="radio" name="radio" id="radio1"><label for="radio1"></label>

<input class="input input--radio active" type="radio" name="radio" id="radio2"><label for="radio2"></label>

<input class="input input--radio" type="radio" name="radio" id="radio3" checked><label for="radio3"></label>

