<input type="checkbox" class="input input--checkbox" name="checkbox" id="checkbox1"><label for="checkbox1"></label>
<input type="checkbox" class="input input--checkbox active" name="checkbox" id="checkbox2"><label for="checkbox2"></label>
<input type="checkbox" class="input input--checkbox" name="checkbox" id="checkbox3" checked><label for="checkbox3"></label>