/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.btn {
  background-color: #000;
  border-radius: 4px;
  padding: 16px 47px;
  border: 2px solid #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Arial";
  font-size: 12px;
  outline: none; }
  .btn:active, .btn.active {
    background-color: #007feb;
    border-color: #007feb; }
  .btn:disabled, .btn.disabled {
    background-color: #aaaaaa;
    border-color: #aaaaaa; }
  .btn--outline {
    background-color: transparent;
    color: #000; }
    .btn--outline:active, .btn--outline.active {
      background-color: #ff6a67;
      color: #007feb; }
    .btn--outline:disabled, .btn--outline.disabled {
      background-color: transparent;
      color: #aaaaaa; }
  .btn--noline {
    background-color: transparent;
    border-color: transparent;
    color: #000; }
    .btn--noline:active, .btn--noline.active {
      background-color: #ff6a67;
      border-color: #ff6a67; }
    .btn--noline.disabled, .btn--noline:disabled {
      border-color: transparent;
      background-color: transparent;
      color: #aaaaaa; }
  .btn--large {
    padding: 18px 141px; }
    .btn--large:active, .btn--large.active {
      background-color: #007feb;
      border-color: #007feb; }
    .btn--large:disabled, .btn--large.disabled {
      background-color: #aaaaaa;
      border-color: #aaaaaa; }
  .btn--icon {
    padding: 15px 154px; }
    .btn--icon img .grayscale {
      filter: grayscale(50%); }
    .btn--icon:active, .btn--icon.active {
      background-color: #007feb;
      border-color: #007feb; }
    .btn--icon:disabled, .btn--icon.disabled {
      background-color: #aaaaaa;
      border-color: #aaaaaa; }

.input--checkbox {
  display: none; }
  .input--checkbox + label {
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 3px;
    position: relative;
    cursor: pointer; }
  .input--checkbox + label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 15px;
    background: url(/assets/yes-black.png);
    opacity: 0; }
  .input--checkbox:checked + label:before {
    opacity: 1; }
  .input--checkbox:active + label,
  .input--checkbox.active + label {
    border: 2px solid #ff004d; }

.input--radio {
  display: none; }
  .input--radio + label {
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer; }
  .input--radio + label:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0; }
  .input--radio:active + label,
  .input--radio.active + label {
    border: 2px solid #ff004d; }
  .input--radio:checked + label:before {
    opacity: 1; }

.input--round-toggle {
  display: none; }
  .input--round-toggle + label {
    position: relative;
    display: block;
    width: 88px;
    height: 40px;
    background-color: #ff004d;
    border-radius: 20px;
    transition: before 1s;
    cursor: pointer;
    transition: 0.4s; }
  .input--round-toggle + label:before {
    content: "";
    top: 5px;
    left: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s; }
  .input--round-toggle + label:after {
    content: "OFF";
    position: absolute;
    top: 12px;
    right: 14px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s; }
  .input--round-toggle:checked + label {
    background-color: #000;
    transition: 0.4s; }
  .input--round-toggle:checked + label:before {
    transform: translateX(48px);
    transition: 0.4s; }
  .input--round-toggle:checked + label:after {
    content: "ON";
    position: absolute;
    top: 12px;
    left: 18px;
    transition: 0.4s; }

.input--squared-toggle {
  display: none; }
  .input--squared-toggle + label {
    position: relative;
    display: block;
    width: 88px;
    height: 40px;
    background-color: #ff004d;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s; }
  .input--squared-toggle + label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: .4s; }
  .input--squared-toggle + label:after {
    content: "";
    position: absolute;
    top: 11px;
    right: 18px;
    width: 16px;
    height: 16px;
    background: url(/assets/cancel-black.png); }
  .input--squared-toggle:checked + label {
    background-color: #000;
    transition: .4s; }
  .input--squared-toggle:checked + label:before {
    transform: translateX(48px);
    transition: .4s; }
  .input--squared-toggle:checked + label:after {
    left: 18px;
    top: 11px;
    background: url(/assets/yes-white.png); }

.nav {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 4px solid #ff6a67;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer; }
  .nav:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: url(/assets/arrow-right-black.png); }
  .nav:disabled {
    background-color: #eaeaea;
    border: 3px solid #aaaaaa; }
  .nav.active, .nav:active {
    background-color: #ff6a6778;
    border: 4px solid #ff6a6778; }
  .nav--left-arrow:before {
    background: url(/assets/arrow-left-black.png); }
  .nav--left-chevron:before {
    background: url(/assets/chevron-left.png);
    width: 7px;
    height: 10px;
    top: 16px;
    left: 17.5px; }
  .nav--right-chevron:before {
    background: url(/assets/chevron-right.png);
    width: 7px;
    height: 10px;
    top: 16px;
    left: 17.5px; }
  .nav--black-menu.div-menu {
    width: 154px;
    height: 50px;
    border: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    cursor: pointer; }
  .nav--black-menu.menu1, .nav--black-menu.menu2, .nav--black-menu.menu3 {
    width: 33%;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: #000;
    border-radius: 0; }
  .nav--black-menu.menu1 {
    border-radius: 4px 0 0 4px;
    border-right: 3px solid rgba(255, 255, 255, 0.1); }
  .nav--black-menu.menu2 {
    border-right: 3px solid rgba(255, 255, 255, 0.1); }
  .nav--black-menu.menu3 {
    border-radius: 0 4px 4px 0; }
  .nav--black-menu.menu1:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 16.5px;
    align-self: center;
    width: 16px;
    height: 16px;
    background: url(/assets/search-white.png); }
  .nav--black-menu.menu1:active, .nav--black-menu.menu1.active {
    background-color: #aaaaaa; }
  .nav--black-menu.menu2:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 16px;
    height: 16px;
    background: url(/assets/web-white.png); }
  .nav--black-menu.menu2:active, .nav--black-menu.menu2.active {
    background-color: #aaaaaa; }
  .nav--black-menu.menu3:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 16px;
    height: 16px;
    background: url(/assets/profile-white.png); }
  .nav--black-menu.menu3:active, .nav--black-menu.menu3.active {
    background-color: #aaaaaa; }

.content {
  position: relative;
  display: block;
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none; }
  .content:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: url(/assets/add.png); }
  .content:active, .content.active {
    background-color: rgba(207, 17, 17, 0.849); }
  .content--ecs {
    background-color: #ff6a67; }
    .content--ecs:before {
      background: url(/assets/cancel-black.png); }
    .content--ecs.active, .content--ecs:active {
      background-color: rgba(207, 17, 17, 0.849); }
  .content--check:before {
    background: url(/assets/yes-white.png); }
  .content--play {
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid #fff;
    width: 70px;
    height: 70px; }
    .content--play:before {
      background: url(/assets/alert.png);
      left: 25px;
      top: 25px; }
    .content--play:active, .content--play.active {
      border-color: #aaaaaa;
      background-color: #eaeaea; }
