<button class="btn btn--icon"><img src="/assets/arrow-right-white.png" alt="Forward Arrow">
</button>

<button class="btn btn--icon active"><img src="/assets/arrow-right-white.png" alt="Forward Arrow">
</button>

<button class="btn btn--icon" disabled><img src="/assets/arrow-right-white.png" alt="Forward Arrow">
</button>